<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register($event)">

    <div class="alert alert-danger" role="alert" *ngIf="hasErrors">
      <strong>Error!</strong>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" formControlName="name" type="text" placeholder="Your name">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" formControlName="username" type="text" placeholder="Your username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" formControlName="password" type="password" placeholder="Your password">
    </div>

    <button type="submit" class="btn btn-default">Register</button>
  </form>
</div>
