<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">PRTASO</a>

  <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-nav">
    <ng-container *ngIf="isAuthenticated()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/topic"
             routerLinkActive="active">
            Topics
          </a>
        </li>
      </ul>

      <a class="btn btn-link btn-outline-primary" href="#" (click)="logout()">
        Logout
      </a>
    </ng-container>

    <ng-container *ngIf="!isAuthenticated()">
      <a class="btn btn-link btn-outline-primary"
         routerLink="/signin"
         routerLinkActive="active">
        Signin
      </a>
      <a class="btn btn-link btn-outline-primary"
         routerLink="/register"
         routerLinkActive="active">
        Signup
      </a>
    </ng-container>

  </div>
</nav>



